<div class="container-fluid">
	<h1 align="center"><%= @user.name.upcase %></h1>
	<h4 align="center"><%= @user.name.capitalize %> is a valued <strong><%= @user.role %></strong> of Blocipedia</h4>
</div>
<br />

<div class="container-fluid">
	<div class="well">	
		<%= link_to "Edit Account", edit_user_registration_path, class: 'btn btn-success' %>
		<% if @user.role === "guest"%>
			<%= link_to new_charge_path, class: 'btn btn-primary' do %>
				<i class="glyphicon glyphicon-star"></i>&nbsp; Membership!
			<% end %>
		<% end %>
		<% if @user.role != "guest" %>
			<%= link_to "Cancel Membership", 'users#update', class: 'btn btn-danger', method: :patch %>
		<% end %>

	</div>