<div class="border-form-div-1" %>
	<%= form_for @wiki do |w| %>

		
			<%= w.label :title %>
			<%= w.text_field :title, class: 'form-control', placeholder: "Enter Title Here" %> <br />

			<%= w.label :body %>
			<%= w.text_area :body, rows: 15, class: 'form-control' %><br />

			<%= w.label :public, class: 'checkbox' do %>
			<%= w.check_box :public %> Public Topic
			<% end %>

	
			<%= w.submit "Submit", class: 'btn btn-success', method: :patch%>

	<% end %>
	<div class="container-fluid" align="center">
	<h2 align="center">Collaborators</h2>
	<%= link_to "Add New Collaborator", new_collaborator_path(wiki_id: @wiki.id), class: 'btn btn-info' %>
	<% @wiki.users.each do |user| %>
		<h4><p><%= user.name %></p></h4>
	<% end %>

	
	</div>
</div>