<div class="border-form-div-1" %>
	<%= form_for @wiki do |w| %>

		
			<%= w.label :title %>
			<%= w.text_field :title, class: 'form-control', placeholder: "Enter Title Here" %> <br />

			<%= w.label :body %>
			<%= w.text_area :body, rows: 15, class: 'form-control' %><br />

			<%= w.label :private, class: 'checkbox' do %>
			<%= w.check_box :private %> Private Topic
			<% end %>

			<%= w.submit "Submit", class: 'btn btn-success', method: :patch%>
</div>
	<% end %>